/** @format */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

/* --------------------(Reset)------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --Blue: hsl(228, 45%, 44%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--Light-GrayishBlue);
}

.card {
  background-color: var(--White);
  width: 330px;
  height: 518px;
  margin: 75px auto;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.card-imagen {
  background: url(./images/drawers.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  background-position-y: -20px;
  border-radius: 12px 12px 0 0;
}

.card-content-title {
  color: var(--Very-Dark-Grayish-Blue);
  margin: 30px 30px 12px;
  font-size: 1.24em;
  line-height: 24px;
}

.card-content-description {
  color: var(--Desaturated-Dark-Blue);
  margin: 0 42px 30px 30px;
  font-size: 1em;
  line-height: 20px;
}

.card-content-share {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 30px;
  height: 30px;
  background-color: var(--Light-Grayish-Blue);
  border-radius: 50%;
  padding: 6px 6px;
  z-index: 1;
  transition: 300ms;

  &:hover {
    cursor: pointer;
    background-color: var(--Desaturated-Dark-Blue);
  }
}

.card-content-share:hover path {
  fill: var(--White);
}

/* profile */

.card-content-profile {
  display: flex;
  margin: 0 30px;
}

.card-content-profile-name {
  color: var(--Very-Dark-Grayish-Blue);
  margin: 4px 0 2px 15px;
  font-weight: 700;
}

.card-contenet-profile-date {
  color: var(--Grayish-Blue);
  margin-left: 15px;
}

.card-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* social icons */
.card-content-social-icons {
  background-color: var(--Very-Dark-Grayish-Blue);
  width: 100%;
  height: 80px;
  padding: 20px;
  display: none;
  gap: 5px;
  align-items: center;
  border-radius: 0 0 12px 12px;
  position: absolute;
  bottom: 0;
}

.show {
  display: flex;
}

.rotate {
  transform: scale(1.2) rotate(315deg);
  transition: 300ms;
}

.card-content-social-icons-share {
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: 10px;
  font-size: 500;
  margin-left: 10px;
}

.card-content-social-icons-icon {
  margin: 0 8px;
}

/* --------------------(Footer)------------------------*/
.attribution {
  font-size: 0.85em;
  text-align: center;
}
.attribution a {
  color: var(--Blue);
  text-decoration: none;
}

/* --------------------(Screen > 768px)------------------------*/

@media only screen and (min-width: 768px) {
  .card {
    margin: 270px auto 75px;
    width: 730px;
    height: 295px;
    display: flex;
  }

  .card-imagen {
    height: 100%;
    background-position-y: unset;
    border-radius: 12px 0 0 12px;
  }

  .card-content {
    padding: 0 40px 30px 45px;
    border-radius: 0 12px 12px 0;
  }

  .card-content-title {
    margin: 30px 20px 20px 0;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5em;
    line-height: 26px;
  }

  .card-content-description {
    margin: 20px 5px 30px 0;
    font-size: 1em;
  }

  .card-profile-img {
    margin-left: -35px;
  }

  .card-content-share {
    margin-right: 20px;
  }
  .card-content-social-icons {
    width: 250px;
    height: 56px;
    bottom: 80px;
    border-radius: 8px;
    right: -60px;
  }

  .card-content-social-icons::after {
    content: "";
    border: 10px solid;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent;
    position: absolute;
    left: 115px;
    top: 100%;
  }
}
